In [4]:
import pandas as pd

data_ = pd.read_csv("/Users/jmarsill/Documents/turing_oar_wolnet2.csv", index_col=0)

In [5]:
data_.head()

         Id  Test_patient  Observer    OAR
0  D1D983RD            30      True  BSTEM
1  HHH53H20            30     False  BSTEM
2  6S822KKK            30      True  SPCOR
3  OOU90O76            30     False  SPCOR
4    D101CC            30      True  ESOPH

In [6]:
bias_ = pd.read_csv("/Users/jmarsill/Documents/bias_test_data.csv", index_col=0)

In [7]:
bias_.head()

      PATIENT  RATING    OAR      USER    PREDICTION ACTUAL  TESTPAT
282  5J0DDD51       4  LACOU  Expert-0         Human  Human       12
283  5J0DDD51       3  LACOU  Expert-1      Computer  Human       12
286  8368UUMU       3  LACOU  Expert-0      Computer  Human       30
287  8368UUMU       2  LACOU  Expert-1  I don't know  Human       30
300  LX4LL621       4  LACOU  Expert-0         Human  Human       36

In [9]:
p = list(bias_["PATIENT"].unique())
d = data_[data_["Id"].isin(p)]

In [10]:
d.head()

          Id  Test_patient  Observer    OAR
14  8368UUMU            30      True  LACOU
22  H583HM1H            30      True  LLENS
46  2RRR3J96            31      True   MAND
52  O4OO661R            31      True  LACOU
60  86ZZ8Z8O            31      True  LLENS

In [29]:
# pats = list(d["Test_patient"].unique())
# # selecting rows based on condition 
# d_  = data_[(data_['Observer'] == False) & data_['Test_patient'].isin(pats)]

In [30]:
# d_.head()

In [21]:
# get the ids for d, add one to get the new bias data .csv
ids = list(d.index)

In [25]:
import numpy as np
ids = list(np.array(ids)+1)

In [27]:
len(ids)

90

In [31]:
d_ = data_[data_.index.isin(ids)]

In [32]:
d_.head()

          Id  Test_patient  Observer    OAR
15  GB55BB90            30     False  LACOU
23  BBB6898R            30     False  LLENS
47  20NM7M1M            31     False   MAND
53  G3P86PP9            31     False  LACOU
61  8D4D4V3D            31     False  LLENS

In [33]:
d_.to_csv("/Users/jmarsill/Documents/bias2_allcomputer_2023.csv")